
/* 
    Created on : Jan 14, 2019, 6:05:05 PM
    Author     : silvercolt45
*/

/***************************************************************
Submission Summary
****************************************************************/
submission {
    margin: 20px;
}

.ps-submission-points {
    float: right;
    background-color: aliceblue;
    color: lightslategray;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: thin solid lightslategray;
    margin-bottom: 20px;
}

.ps-submission-points-label {
    font-size: 15px;
    margin-top: -12px;
}

.ps-submission-points-value {
    font-size: 35px;
    color: darkslategrey;
    font-family: monospace;
}

.ps-submission-points-earned {
    font-size: 13px;
    color: lightslategrey;
    font-style: italic;
}

proxy {
    
}

proxy #ps-submission-proxy-details {
    width: 75%;
}

service {
    
}

.ps-identification-updated {
    padding: 10px;
    border: thin solid darkgreen;
    background-color: palegreen;
    color: darkgreen;
    border-radius: 5px;
    margin: 15px;
}

.ps-submission-status {
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    font-size: 10px;
}

.ps-submission-status.pending {
    background-color: yellow;
}

.ps-submission-status.verified {
    background-color: green;
    color: white;
}

.ps-submission-status.not_required {
    background-color: black;
    color: white;
}

submission h4 {
    background: steelblue;
    padding: 10px;
    color: white;
    border: thin solid darkslateblue;
}

.ps-submission-field {
    margin-bottom: 15px;
    margin-left: 25px;
}

.ps-submission-label {
    float:left;
    margin-right: 10px;
    font-weight: bold;
}

.ps-submission-secondary-value {
    font-size: 12px;
    font-style: italic;
}

.ps-submission-instructions {
    padding: 15px;
    background-color: aquamarine;
    border: thin solid grey;
    border-radius: 5px;
    font-size: 13px;
    margin-bottom: 10px;
}

.ps-submission-instructions.special {
    padding: 15px;
    background-color: orange;
    border: thin solid orangered;
    border-radius: 5px;
}

/****************************************************************
 Submissions and Entry
****************************************************************/

submissions .ps-submissions-subtitle {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

entry {
    margin-bottom: 15px;
}

entry .ps-submission-entry.simple {
    border-bottom: thin dashed grey;
    padding-bottom: 15px;
    margin-top: 15px;
}

entry .ps-submission-entry-title.simple {
    font-weight: bold;
    color: grey;
    font-size: 15px;
    line-height: 20px;
}

entry .ps-submission-entry-date.simple {
    font-size: 14px;
}

entry .ps-submission-entry-points.simple {
    font-size: 14px;
}

entry .ps-submission-entry-statuses.simple {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

entry .ps-submission-entry-statuses a {
    text-decoration: none;
}

entry .ps-submission-entry-status.simple {
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    padding-bottom: 10px;
    font-family: sans-serif;
}

entry .ps-submission-entry-status.simple.pending {
    background-color: yellow;
    color: grey;
}

entry .ps-submission-entry-status.simple.verified {
    background-color: green;
    color: white;
}

entry .ps-submission-entry-status.simple.not_required {
    background-color: black;
    color: white;
}

/****************************************************************
 MyCRED 
****************************************************************/

.mycred-my-balance-wrapper,
.ps-total-points {
    background-color: aliceblue;
    color: lightslategray;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: thin solid lightslategray;
}

.mycred-my-balance-wrapper div,
.ps-total-points {
    font-size: 35px;
    color: darkslategrey;
    font-family: monospace;
}

.ps-total-points-subtext {
    font-size: 15px;
    margin-top: -12px;
}

/****************************************************************
 DataTable 
****************************************************************/

.dataTables_filter {
    margin-bottom: 15px;
}

#ps-my-submissions-table {
    font-size: 15px !important;
}

.ps-my-submission-summary {
    height: 120px;
}

.ps-my-submission-summary-pending {
    float:left;
    margin-left: 25%;
}

.ps-my-submission-summary-pending .ps-submission-points-value {
    color: orange;
}

.ps-my-submission-summary-earned {
    float:right;
    margin-right: 25%;
}

.ps-my-submission-summary-earned .ps-submission-points-value {
    color: green;
}